#delete-form, #delete-form fieldset {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#delete-form {
    background-color: #c4f5ed4d;   
    height: 50vh;
    margin-top: 10vh;
}

#delete-form fieldset {
    border: 0;
}

#delete-form label {
    font-size: 28px;
    font-family: 'Quicksand';
    margin-bottom: 3vh;
    color: rgb(41, 41, 80);
    font-weight: 500;
}

#delete-form input {
    width: 70%;
    height: 40px;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Quicksand';
    text-align: center;
    color: rgb(41, 41, 80);
    font-weight: 500;
    background-color: whitesmoke;
}

#delete-form button {
    padding: 15px 20px;
    border: 0;
    font-size: 18px;
    color: rgb(24, 24, 83);
    cursor: pointer;
    transition: 200ms;
    border-radius: 8px;
}

#delete-form button:hover {
    background-color: rgb(64, 64, 153);
    color: whitesmoke;
}